.select-component {
    position: relative;
}

.select {
    display: flex;
    padding: 8px 16px;
    border: 1px solid #000;
    width: 280px;
    cursor: pointer;
    justify-content: space-between;
}

.select span {
    font-size: 14px;
}

.options {
    position: absolute;
    width: 280px;
}

.options .option {
    background: #fff;
    padding: 8px 16px;
    border: 1px solid #000;
    width: 100%;
    border-bottom: none;
    font-size: 14px;
    cursor: pointer;
}

.options .option:last-child {
    border-bottom: 1px solid #000;
}

.options .option:first-child {
    border-top: none;
}

