.select-component {
    position: relative;
}

.select {
    display: flex;
    padding: 4px 7px;
    border: 1px solid #000;
    border-radius: 7px;
    width: 80px;
    cursor: pointer;
    justify-content: space-between;
}

.select span {
    font-size: 10px;
}

.options {
    position: absolute;
    width: 80px;
}

.options .option {
    background: #fff;
    padding: 4px 7px;
    border-left: 0.4px solid #000;
    border-right: 0.4px solid #000;
    width: 100%;
    border-bottom: none;
    font-size: 10px;
    cursor: pointer;
}

.options .option:last-child {
    border-bottom: 1px solid #000;
}

.options .option:first-child {
    border-top: none;
}