.round-slider-container {
  width: 62px;
  height: 26px;
  background: #c24d4d;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  font-size: 10px;
  font-weight: bold;
  color: aliceblue;
}

.round-slider {
  width: 25px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  top: 2px;
  left: 2px;
  position: absolute;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.round-slider-container .round-slider {
  transform: translateX(32px);
}